# fly.prod.toml app configuration file for production (timesink-prod)

app = 'timesink-prod'
primary_region = 'cdg'
kill_signal = 'SIGTERM'

[build]
  args = { MIX_ENV = "prod" }

[deploy]
  # same release command, so migrations run automatically on deploy
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'timesinkpresents.com'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
