@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */



@keyframes slide-in {
  0% {
    transform: translateX(100%); /* Start from the right of the screen */
    opacity: 0; /* Start hidden */
  }
  100% {
    transform: translateX(0); /* End in place */
    opacity: 1; /* Fully visible */
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-in-out forwards; /* Duration and easing */
}


.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 15s linear infinite; /* Adjust duration here */
}

.marquee p {
  display: inline-block;
  margin-right: 1rem;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.75;
  }
}

.pulse-second {
  animation: pulse 1s ease-in-out infinite;
}


#hero-section {
  animation: fadeIn 2s ease;
  background-attachment: fixed; /* for parallax effect */
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


// For blog posts

.ghost-blog-title {
  font-size: 3rem;
  margin: 10px 0;
  line-height: 1em;
}

.ghost-blog-content h2 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 4px;
}

.ghost-blog-content p {
  content: "\a";
  white-space: preline;
  margin-bottom: 2em;
}

.ghost-blog-content img {
  max-width: 100%;
  width: 35%;
  display: block;
  margin: 0 auto;
}

.ghost-blog-content figcaption {
  font-size: 0.8em;
  color: #718096;
  margin-top: 0.5em;
  margin-bottom: 2em;
  text-align: center;
}

.ghost-blog-content blockquote {
  border-left: 4px solid #e2e8f0;
  padding: 0.5em 1em;
  margin: 1em 0;
  font-style: italic;
  color: #718096;
}


.ghost-blog-content blockquote::before {
  content: open-quote;
}
.ghost-blog-content blockquote::after {
  content: close-quote;
}

.ghost-blog-content blockquote {
  text-indent: -0.45em;
  font-size: 20px;
  /* border-left: 2px solid #e2e8f0; */
}
@supports (hanging-punctuation: first) {
  .ghost-blog-content blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}
