@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */



@keyframes slide-in {
  0% {
    transform: translateX(100%); /* Start from the right of the screen */
    opacity: 0; /* Start hidden */
  }
  100% {
    transform: translateX(0); /* End in place */
    opacity: 1; /* Fully visible */
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-in-out forwards; /* Duration and easing */
}


.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 15s linear infinite; /* Adjust duration here */
}

.marquee p {
  display: inline-block;
  margin-right: 1rem;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.75;
  }
}

.pulse-second {
  animation: pulse 1s ease-in-out infinite;
}


#hero-section {
  animation: fadeIn 2s ease;
  background-attachment: fixed; /* for parallax effect */
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
