<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] bg-backroom-black" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta
      name="description"
      content="We bring great filmmakers — of all levels — to the stage. And we don’t waste your time discovering them. Real audiences. Real-time reactions. Conversations and moments that last. No noise — pure signal."
    />
    <.live_title suffix=" · Cinema Reimagined">
      {assigns[:page_title] || "TimeSink Presents"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/fonts/ano/ano.css"} />
    <link
      phx-track-static
      rel="stylesheet"
      href={~p"/fonts/gangster_grotesk/gangster-grotesk.css"}
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="text-mystery-white font-gangster antialiased">
    <.top_nav class="h-[30px] mx-4" current_user={assigns[:current_user]}  />

    {@inner_content}
  </body>
</html>
