<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · TimeSink Presents">
      {assigns[:page_title] || "TimeSink Presents"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/fonts/ano/ano.css"} />
    <link
      phx-track-static
      rel="stylesheet"
      href={~p"/fonts/gangster_grotesk/gangster-grotesk.css"}
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-backroom-black text-mystery-white antialiased font-gangster">
    {@inner_content}
    <!-- not used for now -->
    <%!-- <div class="flex justify-between items-center mx-8 py-8 mt-8">
    <div class="text-xs">Made with ☕ between 🇫🇷 and 🇺🇸</div>
    <div
      id="social-links"
      class="grid grid-cols-1 gap-y-4 gap-x-8 text-sm leading-6 text-zinc-700 sm:grid-cols-2"
    >
      <div>
        <a
          href="https://x.com/timesink_"
          class="group -mx-2 -my-0.5 inline-flex items-center gap-3 rounded-lg px-2 py-0.5 hover:bg-zinc-50 hover:text-zinc-900"
        >
          <svg
            viewBox="0 0 1200 1227"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 fill-mystery-white group-hover:fill-zinc-600"
          >
            <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" />
          </svg>
          Follow on X
         </a>
      </div>
      <div>
        <a
          href="https://www.instagram.com/timesink_/"
          class="group -mx-2 -my-0.5 inline-flex items-center gap-3 rounded-lg px-2 py-0.5 hover:bg-zinc-50 hover:text-zinc-900"
        >
          <svg class="h-4 w-4 group-hover:fill-zinc-600">
            <use href="/images/instagram.svg#Layer_1"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="text-xs">hello@timesinkpresents.com</div>
  </div>  --%>
    <!-- not used for now -->
  </body>
</html>
